<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.honap.madhumitra"
          android:versionCode="1"
          android:versionName="0.1">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
   

    <application android:label="@string/app_name" android:icon="@drawable/launcher_one" android:debuggable="true">

<!-- Start of Crittercism.com Code -->
<activity android:name="com.crittercism.FeedbackActivity"/>
<activity android:name="com.crittercism.FeedbackCreateActivity"/>
<activity android:name="com.crittercism.FeedbackDetailsActivity"/>
<activity android:name="com.crittercism.NotificationActivity"/>

<service android:name="com.crittercism.service.CrittercismService" android:process="com.crittercism.service" android:exported="true">
    <intent-filter><action android:name="com.crittercism.service.CrittercismService" /></intent-filter>
</service>
<!-- End of Crittercism.com Code -->

           
	<activity android:name=".act.SelectUserAccount"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".act.RecordHomeInvestigation" android:label="Record Home Investigation"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.CalorieReport" android:label="Calorie Report"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.RecordSymptom" android:label="Record Symptoms"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.RecordActivity" android:label="Record Activity"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.RecordClassifiedMeal" android:label="Record Meal"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.RecordExercise" android:label="Record Exercise"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.RecordLabInvestigation" android:label="Record Lab Investigation"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.RecordMedication" android:label="Record Medication"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.RecordPrescription" android:label="Record Prescription"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.BslReport" android:label="BSL Estimation Report"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.ActivityReport" android:label="Activity Report"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.ExpenseReport" android:label="Expense Report"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.AddUserAccount" android:label="Add User Account"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.LandingActivity" android:label="Madhumitra"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.AddDoctor" android:label="Add Doctor"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.MadhumitraPreferences" android:label="Madhumitra Preferences"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.MedicationNotificationAck" android:label="Medication Notification"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.DeleteRecords" android:label="Delete Records"
                android:screenOrientation="portrait"/>
        <activity android:name=".act.MedRecList" android:label="Medication Records"
                android:screenOrientation="portrait"/>
        <service android:name=".service.MedicationNotificationService" android:label="Medication Notification"/>
        <receiver android:name=".act.MedicationAlarmAnalyser"/>
    </application>
</manifest> 
